@page
@model IdentityServer4.Plus.UserInteraction.Pages.UsernamePage

<p>Enter a customer name:</p>

<form method="post">
    Name:
    <input asp-for="Username" />
    <input type="submit" />
</form>
