@page
@model IdentityServer4.Plus.UserInteraction.Pages.LoginByPasswordPage

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title></title>
</head>
<body>
<div>
    
</div>
</body>
</html>